h2.title {
  text-align: center;
  padding: 48px 0;
  font-size: 22px;
}

/* -------------------------------------------------------------------------- */
/*                                     nav                                    */
/* -------------------------------------------------------------------------- */
.product_inner {
  display: flex;
  flex-direction: row;
}
.navigator {
  width: 267px;
  padding-right: 47px;
  /* height: 960px; */
  /* position: static; */
}

.filter_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid var(--gray-100);
}

.filter_title {
  font-size: 16px;
}

.reset_btn {
  background-color: transparent;
  color: var(--gray-300);
}

button.toggle_btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid var(--gray-100);
  transition: 0.4s;
}

.category_list,
.brand_list,
.price_list,
.type_list,
.except_list {
  padding: 16px 0;
}

.list_wrapper {
  /* background-color: red; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.active {
  /* max-height: 300px; */
  /* display: block; */
  /* background-color: skyblue; */
}

.category_list a,
.brand_list a,
.price_list a,
.type_list a,
.except_list a {
  display: flex;
  align-items: center;
}

.check_btn {
  background: url(../assets/icons/list/none_checked.svg) no-repeat;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

.list_title {
  margin-left: 10px;
}

.list_counter {
  font-size: 12px;
  color: var(--gray-300);
  margin-left: 8px;
}

.more_btn {
  background-color: transparent;
  width: 100%;
  padding: 16px 0;
  color: var(--gray-300);
}

.more_btn svg {
  margin-left: 5px;
}

/* -------------------------------------------------------------------------- */
/*                                product_list                                */
/* -------------------------------------------------------------------------- */
.product_list {
  /* background-color: gold; */
  width: 783px;
}
.tab_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.tab_menu .order_list {
  /* background-color: orange; */
  width: 445px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recommendation {
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.des_icon .description {
  position: absolute;
  width: 270px;
  top: 30px;
  left: 0;
  background-color: var(--white);
  padding: 14px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid var(--gray-300);
  border-radius: 3px;
  display: none;
  z-index: 1;
}

.des_icon:hover .description {
  display: block;
}

.oders {
  color: var(--gray-300);
}

.product_container {
  /* background-color: lime; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product_box {
  width: 250px;
  margin-bottom: 24px;
}

.img_box {
  display: block;
  position: relative;
  width: 100%;
  height: 320px;
}

.img_box img {
  width: 100%;
}

.cart_icon img {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 17px;
  right: 15px;
}

.product_delivery {
  padding: 16px 0;
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-400);
}

.product_price {
  margin: 16px 0;
  font-size: 22px;
  font-weight: 600;
}
.text_box .cost {
  color: var(--gray-400);
  text-decoration: line-through;
}

.product_price .discount {
  color: var(--accent-yellow);
  margin-right: 8px;
}
.product_description {
  font-size: 12px;
  color: var(--gray-400);
  margin: 10px 0;
}

.badges {
  width: 124px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
}

.karly_badge {
  width: 65px;
  height: 26px;
  line-height: 26px;
  background: var(--gray-100);
  border-radius: 4px;
  text-align: center;
  color: var(--purple);
}

.limit_badge {
  width: 50px;
  height: 26px;
  line-height: 26px;
  background: var(--gray-100);
  border-radius: 4px;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                 pagination                                 */
/* -------------------------------------------------------------------------- */
.pagination_wrap {
  margin: 60px 0 80px 0;
}
.pagination {
  width: 232px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.pagination > a {
  display: block;
  width: 34px;
  height: 34px;
  outline: 1px solid var(--gray-100);
  text-align: center;
  line-height: 34px;
}

.pagination > a img {
  display: block;
  padding: 13px 13px;
}

.pagination a:hover {
  background: var(--gray-100);
}
